resources/hahutest.dtd

<!--

-->
<!ELEMENT suite ((package|classe)*, scenario+) >
<!ATTLIST suite
	name CDATA #REQUIRED
>

<!ELEMENT package (method+) >
<!ATTLIST package
	name CDATA #REQUIRED
>

<!ELEMENT class (#PCDATA) >

<!ELEMENT scenario ((package|class)*, method+) >
<!ATTLIST scenario
	name CDATA #REQUIRED
>

<!ELEMENT method (class*, parameter*) >
<!ATTLIST method
	name CDATA #REQUIRED
>

<!ELEMENT parameter (#PCDATA) >
<!ATTLIST parameter
	name CDATA #REQUIRED
>
